.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outer-box {
  width: 700px;
  height: 700px;
  border: 1px solid black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shape {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.shape-1 {
  background-color: blue;
  top: 300px;
  left: 300px;
  transition: all 2s .5s;
}
.shape-2 {
  background-color: green;
  top: 300px;
  left: 300px;
  transition: top 1s .8s, left 1s 1.5s;
}
.shape-3 {
  background-color: red;
  top: 300px;
  left: 300px;
  transition: top 1.2s .9s, left 1.5s 1s, border-radius .5s 1.8s, background-color .5s 1.8s;
}
.outer-box:hover .shape-1{
  left: 0px;
  top: 0px;
}
.outer-box:hover .shape-2{
  top: 600px;
  left: 600px;
}
.outer-box:hover .shape-3{
  left: 600px;
  top: 0;
  border-radius: 0;
  background-color: orange;
}